//
   Created by Phil on 2016-01-31.

extends layout
block content
    script(src='./javascripts/calculPointage.js')
    h1= title
    |Planchettes
    div#divPl=plan
        table#tablePointage
            tr
                td#contrat(rowspan='2') Étui
                td#contrat(colspan='2') Équipes
                td#contrat(rowspan='2') Contrat
                td#contrat(rowspan='2') Par
                td#contrat(rowspan='2') Entame
                td#contrat(rowspan='2') Résultat
                td#contrat(colspan='2') Points
            tr
                td#contrat N-S
                td#contrat E-O
                td#contrat N-S
                td#contrat E-O
            !=planchettes