//
   Created by Phil on 2016-02-05.

extends layout
block content
    div.divPage
        img(src="images/baraja-de-cartas-americanas.png" alt="Cartes" class="imageCartes")
        h1=title
        !=feuille
