//
   Created by Phil on 2016-06-05.

extends layout
block content
   script(src='./javascripts/jquery-3.1.1.js')
   script(src='./javascripts/enregistrerFeuille.js')
   script(src='./javascripts/calculScore.js')
   script(src="./javascripts/affiche_new.js")
   script(src='./javascripts/requeteAJAX.js')

   div#divScreen
   div#divResultPlanchette
      div#divResults
      input#btnFermer.btnAjaxAnnuler(type="button" value="Fermer")
   div#divAcces!=rondesEtPlanchettes
   div#divPartie!=indexPartieInput
   div.divPage

      h1.spanBlue R&eacute;sultats
      div#divTableauRes
         div#divNoms!=nomsJoueurs
         //div#divResul
            span Planchettes
      //!=feuilleRes
      br
      input#btnActualiser(type="submit" value="Actualiser" class="bouton")
      input#btnExporter(type="submit" value="Exporter" class="bouton")