//
    Created by Phil on 2016-06-05.

extends layout
block content
    h1 Partie termin&eacute;
    div(class='divTermine') La partie est termin&eacute;e pour cette table. Veuillez attendre que toutes les tables aient termin&eacute;es avant d'afficher les r&eacute;sultats
    form(action='resultats' method='get')
        input(type='submit' value='Resultats')